In [1]:
from tsv_data_analytics import tsvutils
from tsv_data_analytics import funclib

In [2]:
# read data. this is the famouse iris dataset
# the read() method should be used in general that takes a tsv of gzip compressed tsv
# x = read("/path/to/tsv-file.tsv.gz")
# or
# x = read("s3://bucket/path/to/tsv-file.tsv.gz")
x = tsvutils.read_url("https://github.com/CrowdStrike/tsv-data-analytics/raw/main/notebooks/iris.tsv")

In [3]:
print(x.num_rows())

150

In [4]:
x.export_to_df(5)

  sepal_length sepal_width petal_length petal_width        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [5]:
# basic filtering and selection
y = x \
    .rename("class", "label")

In [6]:
# easy to export to pandas data frame
y.export_to_df(5)

  sepal_length sepal_width petal_length petal_width        label
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [7]:
# can also use a built in show() method for console output
y.show(5)

sepal_length	sepal_width	petal_length	petal_width	label
5.1         	        3.5	         1.4	        0.2	Iris-setosa
4.9         	        3.0	         1.4	        0.2	Iris-setosa
4.7         	        3.2	         1.3	        0.2	Iris-setosa
4.6         	        3.1	         1.5	        0.2	Iris-setosa
5.0         	        3.6	         1.4	        0.2	Iris-setosa

In [8]:
# select specific columns
y \
    .select(["label", "sepal_width"]) \
    .export_to_df(5)

         label sepal_width
0  Iris-setosa         3.5
1  Iris-setosa         3.0
2  Iris-setosa         3.2
3  Iris-setosa         3.1
4  Iris-setosa         3.6

In [9]:
# apply simple transformation. Use a library of helper methods provided in the funclib package
y \
    .transform(["petal_width"], lambda x: str(funclib.to4digit(float(x) * 0.393701)), "petal_width_inches") \
    .export_to_df(5)

,sepal_length,sepal_width,petal_length,petal_width,label,petal_width_inches
0,5.1,3.5,1.4,0.2,Iris-setosa,0.0787
1,4.9,3.0,1.4,0.2,Iris-setosa,0.0787
2,4.7,3.2,1.3,0.2,Iris-setosa,0.0787
3,4.6,3.1,1.5,0.2,Iris-setosa,0.0787
4,5.0,3.6,1.4,0.2,Iris-setosa,0.0787

In [10]:
# save the file
tsvutils.save_to_file(y, "output.tsv.gz")