In [1]:
from tsv_data_analytics import tsvutils

In [2]:
# read data. this is a publicly available data on covid cases that is available on the net
# the read() method should be used in general that takes a tsv of gzip compressed tsv
# x = read("/path/to/tsv-file.tsv.gz")
# or
# x = read("s3://bucket/path/to/tsv-file.tsv.gz")
x = tsvutils.read_url("https://github.com/owid/covid-19-data/raw/master/public/data/owid-covid-data.csv")

In [3]:
print(x.num_rows())

132224

In [4]:
x.export_to_df(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,,,,,...,,,37.746,0.5,64.83,0.511,,,,
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,,,,,...,,,37.746,0.5,64.83,0.511,,,,
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,,,,,...,,,37.746,0.5,64.83,0.511,,,,
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,,,,,...,,,37.746,0.5,64.83,0.511,,,,
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,,,,,...,,,37.746,0.5,64.83,0.511,,,,

In [5]:
# basic filtering and selection
y = x \
    .eq_str("iso_code", "USA") \
    .select(["continent", "location", "date", "new_cases", "new_deaths"]) \
    .rename("location", "country_name")

In [6]:
y.export_to_df(5)

       continent   country_name        date new_cases new_deaths
0  North America  United States  2020-01-22
1  North America  United States  2020-01-23       0.0
2  North America  United States  2020-01-24       1.0
3  North America  United States  2020-01-25       0.0
4  North America  United States  2020-01-26       3.0

In [7]:
y.show(5)

continent    	country_name 	date      	new_cases	new_deaths
North America	United States	2020-01-22
North America	United States	2020-01-23	0.0
North America	United States	2020-01-24	1.0
North America	United States	2020-01-25	0.0
North America	United States	2020-01-26	3.0

In [8]:
tsvutils.save_to_file(y, "output.tsv.gz")